$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$bold-700: 700;
$demi-600: 600;

$mobile-max-width: 600px;
$tablet-max-width: 1000px;

//// Primary Colours
$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;

//// Secondary Colours
$Slate: #5c667e;
$Cloud: #bdc5d5;

//// Background Colours
$Graphite: #232940;
$Light-Grey: #f7f8f9;

//// Supporting Colours
$Green: #158463;
$Red: #c94515;

//Padding
$padding-spacing-base-unit: 0.5rem;
//mobile padding between components
$gutter-mobile: 1rem;
//tablet/desktop padding between components
$gutter-tablet-desktop: 1.5rem;
