@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.inventory-container {
  padding: 0 $gutter-mobile;
  @include tablet {
    padding: 0 $gutter-tablet-desktop;
  }
}

.inventory-list {
  padding: 0;
  border-top: solid 1px $Cloud;
  overflow: visible;

  background-color: #fff;
  
  max-width: $mobile-max-width;
  
  margin: auto;
  
  @include tablet {
    border-top: none;
    max-width: $tablet-max-width;
  }
  
  &__wrap {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
