@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

// Uses same form styling as Warehouse Form, but with added styling for radio buttons and dropdowns
@use "../WarehouseForm/WarehouseForm.scss" as *;

.warehouse-form {
  &__radio {
    &-group {
      display: flex;
      gap: 3rem;
    }
    &-label {
      //   align-items: center;
      &--selected {
        font-weight: bold;
      }
    }
    &-input {
      margin-right: 0.5rem;
    }
  }
  &__input-label {
    font-weight: bold;
  }

  &__input-field select {
    appearance: none; /* Remove the default dropdown arrow */
    background: url("/assets/icons/arrow_drop_down-24px.svg") no-repeat right
      10px center;
  }
  &::placeholder {
    font-family: "TitilliumWeb", sans-serif;
  }
}
