@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.inventory-management {
  display: flex;
  justify-content: center;
  padding: $padding-spacing-base-unit * 2;
  @include tablet {
    padding: $padding-spacing-base-unit $padding-spacing-base-unit * 4;
  }
  @include desktop {
    padding: $padding-spacing-base-unit $padding-spacing-base-unit * 8;
  }
}

.inventory-form {
  background-color: $White;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 0.25rem;
  max-width: 600px;
  width: 100%;
  @include tablet {
    max-width: 1000px;
  }

  &__header {
    display: flex;
    align-items: baseline;
    gap: $gutter-mobile;
    padding: $padding-spacing-base-unit * 2 $padding-spacing-base-unit * 4;
  }

  &__divider {
    border-top: 0.0625rem solid $Cloud;
    margin: 0;

    &-tablet {
      @include tablet {
        margin: $padding-spacing-base-unit * 4 0;
      }
    }
  }

  &__sections {
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__inventory-details,
  &__contact-details {
    flex-grow: 1;
    padding: $padding-spacing-base-unit $padding-spacing-base-unit * 4;

    @include tablet {
      max-width: 50%; // Ensures both sections stay at this width even when empty or with fewer elements or error state
      min-width: 50%; // Ensures both sections stay at this width even when empty or with fewer elements or error state
    }
  }

  &__section-title {
    font-weight: bold;
  }

  &__input-field {
    margin-bottom: 1rem;
  }

  &__input-label {
    display: block;
    margin-bottom: 0.5rem;
  }

  // Apply red border when input has error class
  .input-control {
    border: 1px solid $Cloud; // Default border color

    &.inventory-form__input-control--error {
      border-color: $Red; // Red border when there’s an error
    }
  }

  &__error-message {
    color: $Red;
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center; // Align icon and text
  }

  // Icon styling within error message
  &__error-icon {
    margin-right: 4px; // Add spacing between icon and text
    width: 1rem; // Set icon size
    height: 1rem;
  }

  &__actions {
    display: flex;
    gap: $gutter-mobile;
    justify-content: center;
    background-color: $Light-Grey;
    padding: $padding-spacing-base-unit * 3 $padding-spacing-base-unit * 4;
    flex-direction: row;
    @include tablet {
      justify-content: end;
    }
  }

  &__button-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// =-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
.inventory-form {
  &__radio {
    &-group {
      display: flex;
      gap: 3rem;
    }
    &-label {
      //   align-items: center;
      &--selected {
        font-weight: bold;
      }
    }
    &-input {
      margin-right: 0.5rem;
    }
  }
  &__input-label {
    font-weight: bold;
  }

  &__input-field select {
    appearance: none; /* Remove the default dropdown arrow */
    background: url("/assets/icons/arrow_drop_down-24px.svg") no-repeat right
      10px center;
  }
  &::placeholder {
    font-family: "TitilliumWeb", sans-serif;
  }

  &__input-field textarea {
    height: 9rem; /* Adjust this value as needed */
    resize: vertical; /* Allows the user to resize the field vertically only*/
  }
}
