@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouseInventory__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.warehouseInventory__item {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.6rem;
	border-bottom: 1.5px solid $Cloud;
	padding: 1.25rem 2rem;

	@include tablet {
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		gap: 1rem;
		padding: 1.125rem 2.625rem;

		&:hover {
			background-color: aliceblue;
			transition: all 0.2s;
		}
	}

	@include desktop {
		padding: 1.125rem 3.4375rem;
	}

	&:last-child {
		border-bottom: none;
	}
}
