@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.input-field {
  margin-bottom: 1rem;
}

.input-label {
  display: flex;
  font-feature-settings: "liga" off, "clig" off;
  color: $Instock-Black;
  font-weight: $demi-600;
  margin-bottom: 0.25rem;
}

.input-control {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 1.25rem;
  border: 0.0625rem solid $Cloud;
  background-color: $White;
  width: 100%;
  color: $Slate;
  font-weight: 400;
  padding: 0.5rem 1rem;

  @include tablet {
    padding: 0.625rem 1.125rem;
  }

  @include desktop {
    padding: 0.75rem 1.25rem;
  }
}
