@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - $gutter-mobile * 2);
    white-space: nowrap;
    text-align: center;
    height: 14rem;
    max-width: 600px;

    @include tablet {
      flex-direction: row;
      height: 14rem;
      justify-content: center;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 1000px;
    }
  }

  &__logo-mobile {
    aspect-ratio: 4.61;
    object-fit: contain;
    object-position: center;
    width: 11.25rem;
    align-self: center;
    max-width: 100%;
    margin: $gutter-mobile;

    @include tablet {
      display: none;
    }
  }

  &__logo-tablet {
    display: none;

    @include tablet {
      display: flex;
      align-self: center;
      margin: $gutter-tablet-desktop 0;
      padding: $padding-spacing-base-unit 0;
    }
  }

  &-links__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gutter-mobile;

    @include tablet {
      gap: $gutter-tablet-desktop;
    }
  }
}

.nav__link-inactive {
  @include navLink {
    color: $Cloud;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav__link-active {
  @include navLink {
    background-color: $Instock-Black;
    color: $White;

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  @include tablet {
    margin: $gutter-tablet-desktop 0;
  }
}
