@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

body {
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 1;
}

.app-content {
  position: relative;
  top: -6rem; // Move it up to overlap bottom 25% of the header which is ~250px tall
  padding-top: 25px; // Ensure content starts below the header
  z-index: 1; // Place below the header if needed

  @include tablet {
    top: -8.8rem; // Move it up to overlap bottom 25% of the header which is ~250px tall
  }
}

.footer {
  position: relative;
  top: -2rem; // Move it up to overlap bottom 25% of the header which is ~250px tall
  // padding-top: 25px; // Ensure content starts below the header
  z-index: 0; // Place below the header if needed

  @include tablet {
    top: -2rem; // Move it up to overlap bottom 25% of the header which is ~250px tall
  }

  display: flex;
  justify-content: center;

  @include body-small {
    color: $Slate;
  }
}
