@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.inventory-row {
  padding: 0;
  border-top: solid 1px grey;

  @include tablet {
    border-top: none;
  }

  &__header {
    display: none;
    list-style: none;
    background-color: #f7f8f9;

    @include tablet {
      display: block;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      color: silver;
      gap: 1rem;
      padding: 0 0.5rem;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem;
    flex: 1 1 50%;
    font-size: 0.875rem;

    &--title {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      @include tablet {
        margin-top: 0;
      }

      &::after {
        content: url(../../assets/icons/chevron_right-24px.svg);
        line-height: 0;
      }

      &:hover::after {
        animation: moveArrow 1s linear infinite;
      }
    }

    &--success {
      background-color: rgba($Green, 0.1);
      color: $Green;
      width: 5rem;
      text-align: center;
      padding: 0.4rem;
      border-radius: 1rem;
      text-transform: uppercase;
      font-weight: $demi-600;
      // Ensure text is on 1 line
      white-space: nowrap;

      @include tablet {
        width: auto;
      }
    }

    &--failed {
      background-color: rgba($Red, 0.1);
      width: 7rem;
      text-align: center;
      padding: 0.4rem;
      border-radius: 1rem;
      text-transform: uppercase;
      font-weight: $demi-600;
      color: $Red;
      // Ensure text is on 1 line
      white-space: nowrap;

      @include tablet {
        width: auto;
      }
    }

    &:before {
      font-size: 0.6875rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $Slate;
      margin-bottom: 0.5rem;
      content: attr(data-label);

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      &--1,
      &--2,
      &--3,
      &--4,
      &--5 {
        flex: 1;
      }
    }

    &-btn {
      padding: 0.6rem 1rem;
      background-color: black;
      color: white;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      border-radius: 0.3rem;
      text-transform: uppercase;
      letter-spacing: 0.03rem;
      margin-bottom: 1rem;
      cursor: pointer;

      @include tablet {
        margin-bottom: 0;
      }

      &:hover {
        background-color: blacker;
      }
    }

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
      order: 1;
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        align-items: center;
      }
    }

    &--1 {
      @include tablet {
        // flex: 1.1;
      }
    }

    &--2 {
      order: 3;

      @include tablet {
        order: 2;
      }
    }

    &--3 {
      order: 2;
    }

    &--4 {
      order: 4;
    }

    &--5 {
      order: 5;

      &--hidden {
        display: block;

        @include tablet {
          display: none;
        }
      }

      @include tablet {
        flex-basis: 0;
      }
    }

    &--6 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      order: 6;
      flex: 1;
      padding-bottom: 1rem;

      @include tablet {
        margin-top: 0;
        justify-content: flex-end;
        padding-bottom: 0.5rem;
      }

      &::before {
        content: none;
      }
    }

    &--btn {
      border: 0;
      background-color: transparent;
      cursor: pointer;

      @include tablet {
        margin-top: 0.2rem;
      }
    }
  }

  &__row {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.6rem;
    border-bottom: solid 1px $Cloud;
    padding: 0 1.5rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      gap: 1rem;
      padding: 0.7rem 2rem;

      &:hover {
        background-color: aliceblue;
        transition: all 0.2s;
      }
    }
  }
}

.sort {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &::after {
    content: url(/assets/icons/sort-24px.svg);
  }
}
